<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--add key="SalesForceUrl" value="https://ucsf**profiles.cs11.my.salesforce.com/services"/>
      <add key="SalesForceUrl" value="https://ucsf**profiles.cs11.my.salesforce.com/services"/-->
      <add key="SalesForceUrl" value="https://test.salesforce.com/services"/>
      <add key="SalesForceUserName" value="integrationadmin@ucsf.edu.profiles"/>
      <add key="SalesForcePassword" value="Profiles654"/>
      <add key="SalesForceToken" value="yTeeYxplREPFtXdxSqhHhhL7R"/>
      <add key="SalesForceClientId" value="3MVG9GiqKapCZBwF9eUDPRXi6RsB6oIzBjjhQuUzhvUK3oMuD5bfEtHtENfpxTgfpTFgk1WpXalQFIV2JSPYq"/>
      <add key="SalesForceGrantType" value="password"/>
      <add key="SalesForceClientSecret" value="4069519809176298218"/>
      <add key="LogService" value="false"/>
      <add key="OAuthCert" value="C:\shindig\oauth\oauth.cer"/>
    </appSettings>
</configuration>