<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="SalesForceUrl" value=""/>  
      <add key="SalesForceUserName" value=""/>
      <add key="SalesForcePassword" value=""/>
      <add key="SalesForceToken" value=""/>
      <add key="SalesForceClientId" value=""/>
      <add key="SalesForceGrantType" value=""/>
      <add key="SalesForceClientSecret" value=""/>
      <add key="LogService" value="false"/>
    </appSettings>
</configuration>